html{
    height: 100%;
}
body{
    height: 100%;
    background-color: beige;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
}
div{
    position: relative;
    width: 100%;

}
h1{
    font-size: 3rem; 
}
h3{
    font-size: 2.75rem;
}
p{
    color: white;
}

.container-fluid{
    padding: 0px !important
}
.header-info-xl{
    padding: 15px;
    background-color: black;
    min-height: 100%;
}
.header{
    background-color: burlywood;
    min-height: 100%;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.nav-show-click-s ul{

    justify-content: center;

    padding-left: 0px;

}
.click_display_nav{
    transition: all .4s ease-in-out;
    position: absolute;
    font-size: 1.5em;
    top: 0px;
    margin-top: 15px;
    margin-left: 10px;
}
.nav-items{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.logo-l-m{
    display: flex;
    justify-content: center;
}
@media (max-width: 1200px){
    .header-info-xl{
        display: none;
    }
}
/* @media (max-width: 1200px) and (min-width: 760px){
    .nav-l-m{
        display: flex !important;
    }
} */
@media (min-width: 1200px){
    .nav-l-m{
        display: none !important;
    }
}
@media (max-width: 760px){
    .header-nav{
        display: none;
    }
    .nav-items{
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-bottom: 0px;
        margin-top: 0px;   
    }
}
@media (min-width: 760px){
    .click_display_nav{
        transition: all .4s ease-in-out;
        display: none;
    }
    .nav-show-click-s{
        display: none;
    }

}
@media (max-width: 375px){
    h1{
        font-size: 2.5rem;
    }
    .click_display_nav{
        transition: all .4s ease-in-out;
        position: absolute;
        margin-top: 10px !important;
        margin-left: 0px !important;
    }
}
.portrait{
    max-width: 100%;
}
.menu-icone-social{
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    list-style: none; 
}
.icone-social{
    margin: 10px;
    font-size: 2em;
    background-color: aqua;
}

.cv-en-code img{
    max-width: 100%;
    height: auto;
    border-radius: 1%;
}

/* STATE */
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
.rotation-lien{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform : rotate(180deg);}
/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */
